<!DOCTYPE HTML>
<html>
  <head>
  <title>SWAP: A Solver for the Wavelength Assignment Problem</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  <!-- 3D force graph -->
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
  </head>
<body>
  <div id="3d-graph"></div>

  <script>
    $.ajax({
      type: "POST",
      url: "/get_tree",
      success: function(tree){
        console.log(tree)
        var nodes = []
            links = [];
        for (const [key, value] of Object.entries(tree)) {
          nodes.push({ id: key });
          for (i = 0; i < value.length; i++) {
            links.push({
              source: key,
              target: value[i] 
            })
          }
        }

    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .nodeThreeObject(({ id }) => new THREE.Mesh(
          new THREE.BoxGeometry(4, 4, 4),
          new THREE.MeshPhongMaterial({
            color: Math.round(Math.random() * Math.pow(2, 24)),
            transparent: true,
            opacity: 0.95
          })
        ))
        .graphData({nodes: nodes, links: links});
      }
    })




  </script>
</body>